<img src="img/logo-small.png">

<div style="margin-top:50px;">
    <input type="text" id="dateTimeNote" readonly>
</div>

<div style="margin-top:20px;">
    <input type="text" id="titleNote" placeholder="Title">
</div>

<div style="margin-top:20px;">
    <textarea type="text" id="detailNote" placeholder="Notes for the user"></textarea>
</div>

<div id="saveEntryContainer">
    <a href="#" data-role="button" id="saveNewData" data-inline="true" data-theme="b" style="float:right;">
        {{{getLocalizedString '%save_entry' 'Save Entry' }}}
    </a>
</div>

<div id="updateEntryContainer" style="display:none;">
    <a href="#" data-role="button" id="deleteEntry" data-inline="true" data-theme="b" style="float:left;">
        {{{getLocalizedString '%delete_entry' 'Delete Entry' }}}
    </a>
    <a href="#" data-role="button" id="updateEntry" data-inline="true" data-theme="b" style="float:right;">
        {{{getLocalizedString '%update_entry' 'Update Entry' }}}
	</a>
</div>
